:root {
  --background-color: whitesmoke;

  --primary-color: #6F69AC;
  --secondary-color: #C53678;
  --third-color: snow;
  --fourth-color: #6F69AC;
  --font-color: #3e262b;

  --header-scrolled: rgba(255, 255, 255, 0.8);

  --default-font-size: 1.3rem;
  --big-font-size: 3.5rem;
  --mid-font-size: 1.5rem;
  --small-font-size: 1rem;
  --extrasmall-font-size: 0.5rem;
}

[data-theme="dark"] {
  --background-color: black;

  --primary-color: #C53678;
  --secondary-color: #6F69AC;
  --third-color: snow;
  --fourth-color: #6F69AC;
  --font-color: whitesmoke;
  
  --header-scrolled: rgba(78, 77, 77, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: "Pridi", "Roboto Slab", "Roboto", "sans-serif";
}

body {
  color: var(--font-color);
  overflow: hidden;
  background-color: var(--background-color);
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

h1 a {
  color: var(--font-color);
  text-decoration: none;
}

section {
  scroll-snap-align: start;
  padding: 5rem 0rem;
  height: 100vh;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.title {
    text-align: center;
    padding: 15px;
    font-size: var(--big-font-size);
    color: var(--font-color);
  }

/*--------------------------------------------------------------
                            HEADER
--------------------------------------------------------------*/
.header-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}

.header-scrolled {
  background-color: var(--header-scrolled)
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: var(--font-color);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

#navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

#navbar a,
#navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  font-size: var(--mid-font-size);
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

#navbar a i,
#navbar a:focus i {
  font-size: var(--small-font-size);
  line-height: 0;
  margin-left: 5px;
}

#navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

#navbar a:hover:before,
#navbar li:hover > a:before,
#navbar .active:before {
  visibility: visible;
  width: 80%;
}

#navbar a:hover,
#navbar .active,
#navbar .active:focus,
#navbar li:hover > a {
  color: var(--primary-color)
}

.logo {
  font-weight: 500;
  font-size: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--font-color);
}

.nav-toggle {
  color: var(--font-color);
  font-size: var(--default-font-size);
  display: none;
  cursor: pointer;
}

/* Style the hamburger menu */
#nav-toggle {
  margin: auto 0;
  display: none;
  cursor: pointer;
  padding-top: 1rem;
}

#nav-toggle div {
  width: 3.8rem;
  height: 0.5rem;
  background-color: var(--font-color);
  margin: 8px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.9rem, 0.5rem);
  transform: rotate(-45deg) translate(-0.9rem, 0.5rem);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.9rem, 0.5rem);
  transform: rotate(45deg) translate(-0.9rem, -0.5rem);
}

.open #navbar-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#navbar-mobile {
  position: fixed;
  animation: fadeIn 0.4s;
  right: 0;
  height: auto;
  border-radius: 15%;
  background: rgba(104, 104, 104, 0.7);
}

#navbar-mobile a {
  color: white;
  font-size: var(--mid-font-size);
}

#navbar-mobile a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  #navbar ul {
    display: none;
  }

  #nav-toggle {
    display: block;
  }

  header {
    height: 9rem;
  }

  .theme-switch-wrapper {
    padding-right: 4rem;
  }
}

/*--------------------------------------------------------------
                            HERO
--------------------------------------------------------------*/
#hero {
  display: flex;
  justify-content: center;
  color: var(--font-color);
}

.hero__pic-container {
  display: flex;
  height: 25rem;
  width: 40rem;
  margin: auto 0;
}

.hero-content {
  align-self: center;
  text-align: center;
}

.hero-title {
  color: var(--font-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.hero-title,
.introText,
.introName,
.introPara {
  animation: fadeIn 2s;
}

.introPara {
  font-size: 1.5rem;
}

.introName {
  font-weight: 600;
  color: var(--primary-color);
  font-size: var(--big-font-size);
}

.greetings-animation {
  font-size: 2.5rem;
  font-weight: 600;
}

.greetings-animation span {
  position: relative;
}

.greetings-animation span::before {
  content: "Hello";
  color: var(--font-color);
  animation: words 15s infinite;
}

.greetings-animation span::after {
  content: "";
  background-color: var(--background-color);
  color: var(--font-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--primary-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 15s infinite;

}

@keyframes cursor {
  to {
    border-left: 2px solid whitesmoke;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Bonjour !"
  }
  21%,
  40% {
    content: "你好 !";
  }
  41%,
  60% {
    content: "こんにちは !"
  }
  61%,
  80% {
    content: "안녕하세요 !";
  }
  81%,
  100% {
    content: "Hello !";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

@media (max-width: 991px) {
  #hero {
    flex-direction: column;
  }

  .hero__pic-container {
    margin: 5rem;
  }
}

/*--------------------------------------------------------------
                            ABOUT
--------------------------------------------------------------*/

#about {
  background-color: var(--primary-color);
  color: white;
  height: auto;
}

.about-container {
  padding-bottom: 5%;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  text-align: center;
  padding: 20px;
  font-size: var(--big-font-size);
  color: white;
}

.about-content {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  font-weight: light;
  font-size: var(--default-font-size);
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: var(--big-font-size);
  }
  .introPara {
    font-size: var(--small-font-size);
  }
}

/*--------------------------------------------------------------
                            SKILLS
--------------------------------------------------------------*/

#skills {
  color: var(--font-color);
  border-top: 0px;
  animation: fadeIn 2s;
  height: auto;
}

.skills-main-title {
  color: var(--font-color);
}

.skill-main-desc {
    text-align: center;
    padding-bottom: 30px;
    font-size: var(--default-font-size);
}


.skill-desc {
  color: black;
  font-size: var(--default-font-size);
}

.skill-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border: rgb(85, 84, 84) 0.3rem dotted;
  box-shadow: 0 10px 15px -10px #333;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.skill-icon {
  margin-bottom: 1rem;
  font-size: 30px;
  color: #1e1e1e;
}

.skill-box .fa-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.skill-box .fa-circle i {
  line-height: 0;
  font-size: 40px;
}

.skill-box:hover .fa-circle {
  transition: all 500ms ease;
  color: var(--secondary-color);
}

.skill-box:hover {
  box-shadow: 0 10px 20px -10px #333;
  transform: scale(1.1);
}

.skill-box .skill-title {
  font-size: 1.4rem;
  text-align: center;
  padding: 0.4rem 0;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.skill-box .skill-content {
  color: #4e4e4e;
}

.skill-box .skill-content-icons {
    font-size: 4rem;
}

@media (max-width: 991px) {
  #skills-container {
    margin-bottom: 0rem;
  }
  
}
/*--------------------------------------------------------------
                            PROJECTS
--------------------------------------------------------------*/
.projects {
  color: var(--font-color);
  height: auto;
  animation: fadeIn 2s;
}

.projects-container {
  padding: 2rem;
}

.project-box {
  padding: 3rem 2rem;
  margin-bottom: 3rem;
}

.projects-desc {
  text-align: center;
  font-size: var(--default-font-size);
}

.project-title {
  color: var(--font-color);
}

.projectImg {
  object-fit: cover;
  height: 20rem;
  width: 40rem;
  margin: 0.5rem;
  transition: transform 0.5s;
  box-shadow: 0 10px 20px -10px #333;
}

.project-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem var(--default-font-size);
  border-width: 2px;
  border-style: solid;
  color: var(--primary-color);
  transition: background-color 0.5s;
  background-color: whitesmoke;
}

.project-btn:hover {
  color: white;
  background-color: var(--primary-color);
}

.projectImg:hover {
  box-shadow: 0 10px 20px -10px #333;
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .projects-container {
    margin-bottom: 0rem;
  }
  
  .projectImg {
    height: 20rem;
    width: 30rem;
  }
}
/*--------------------------------------------------------------
                            CONTACT
--------------------------------------------------------------*/
#contact {
  background-color: var(--primary-color);
  color: white;
  height: auto;
}

.contact__form {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  color: white;
}

.contact-desc {
  padding: 0.5rem;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 1rem 1rem;
  color: black;
  border: none;
  border-radius: 0.5rem;
  background: white;
}

.submitBtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
}

.submitBtn:hover {
  background: #cac9c9;
}

/*--------------------------------------------------------------
                            FOOTER
--------------------------------------------------------------*/
footer {
  width: 100vw;
  padding: 50px 0;
  text-align: center;
  background-color: #333;
  color: white;
}

.back-to-top i {
  color: white;
  font-size: 40px;
  margin: 1rem 0;
}

.back-to-top i:hover {
  transform: translate(0, -0.5vh);
}

.home_social {
  font-size: 30px;
  letter-spacing: 5px;
}

.home_social a {
  text-decoration: none;
  color: white;
}

.home_social a:hover {
  filter: brightness(80%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
