.navbar {
    background: #3d0167;
    height: 6rem;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 0.9;
}

.menuItem {
    margin: 1rem;
    cursor: pointer;
}

.menuItem:hover {
    color: pink;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid pink;
}

@media screen and (max-width: 400px) {
    .menuItem {
        font-size: 5vw;
    }
}

@media screen and (min-width: 1400px) {
    .menuItem {
        font-size: 1vw;
    }
}